.color-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: inherit;
  z-index: -1;

  &--light-rose {
    background-color: $light-carmine-pink-color;
  }

  &--bright-rose {
    background-color: $raspberry-rose-color;
  }
}