.color-block {
  width: 100%;
  padding: 18.5rem 0;

  &--light-rose {
    background-color: $light-carmine-pink-color;
  }

  &--bright-rose {
    background-color: $raspberry-rose-color;
  }

  &--left {
    right: unset;
  }
}