.contact-section {
  padding: 5rem 0;

  &__inner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    font-family: $font-family;
  }

  &__subsection {
    margin: 0 2rem;
    color: $white-color;

    &--left {
      text-align: right;

      &:after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 100%;
        background-color: $white-color;
        transform: translateY(-80%) translateX(2rem);
      }
    }
  }

  &__title {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  &__phone {
    padding-top: 0.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    transition: transform 0.6s;

    &:hover {
      transform: translateX(-5px);
    }
  }
}

.fa {
  padding: 0.5rem;
  font-size: 2.4rem;
  color: $white-color;
  border-radius: 50%;
  transition: background-color 0.6s, color 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 1);
    color: $light-carmine-pink-color;
  }
}

@media only screen and (max-width: 900px) {
  .contact-section__inner {
    flex-flow: column;
    text-align: center;
    width: 100%;
  }

  .contact-section__subsection--left {
    text-align: center;

    &:after {
      width: 100%;
      height: 1px;
      transform: unset;
    }
  }
}