.education-section {
  padding: 0 25rem;

  &__subsection {
    padding: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__card {
    position: relative;
    margin: 2rem;
    width: 30rem;
    flex-flow: column;
    justify-content: flex-start;
  }

  &__subcard {
    padding: 2rem;
    width: 100%;
  }

  &__type {
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 25%;
  }

  &__place {
    font-size: 1.5rem;
    padding-bottom: 7rem;
  }
}

@media only screen and (max-width: 1290px) {
  .education-section__card {
    width: 30rem;
  }
}

@media only screen and (max-width: 1180px) {
  .education-section {
    padding: 4rem 0;
  }

  .education-section__place {
    padding-bottom: 3rem;
  }
}