.experience-section {
  &__card {
    justify-content: center;
    margin: 5rem auto;
    width: 60%;
  }

  &__subcard {
    padding: 4rem;

    &--rose {
      width: 30%;
    }

    &--white {
      width: 70%;
    }
  }

  &__position {
    font-size: 3rem;
    font-weight: bold;
  }

  &__place {
    margin: 1rem 0;
    font-size: 2rem;
  }

  &__header {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;
  }

  &__item {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .experience-section__card {
    flex-flow: column;
    width: 90%;
  }

  .experience-section__subcard--rose, .experience-section__subcard--white {
    width: 100%;
  }
}