.header {
  display: block;
  padding: 18.5rem 30.3rem;
  width: 100%;
  height: 85rem;
}

.header-photo {
  width: 30%;
  height: 40rem;
  background-image: url("../img/photo.jpg");
  background-size: cover;
}
