.header {
  display: block;
  padding-left: 30%;
  width: 100%;
}

.header-content {
  display: inline-block;
  margin-left: -15%;
}

.header-photo {
  display: inline-block;
  width: 38.5rem;
  height: 40rem;
  background-image: url("../img/photo.jpg");
  background-size: cover;
}

.header-description-block {
  display: inline-block;
  margin-left: 14rem;
  padding-top: 5rem;
  vertical-align: top;
  width: 40rem;
  height: inherit;
}

.header-name {
  padding: 1rem 0;
  color: $white-color;
  font-size: 5rem;
  font-family: $font-family;
  font-weight: bold;
}

.header-description {
  padding: 1rem 0;
  color: $white-color;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: $font-family;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 0;
  }

  .header-content {
    display: block;
    margin: 0;
  }

  .color-block {
    padding: 5rem 0;
    width: 100%;
  }

  .header-photo, .header-description-block {
    margin: auto;
    display: block;
    width: 80%;
  }

  .menu-toggle {
    visibility: hidden;
  }

  .menu {
    display: block;
    position: unset;
    visibility: visible;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}