.portfolio-section {
  width: 100%;
  padding: 11rem 25rem;

  &__header {
    display: block;
    margin: 5rem 0;
    text-align: center;
    color: $smoky-black-color;
    font-size: 3rem;
    font-family: $font-family;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    position: relative;
    display: inline-block;
    margin: 2rem;
    padding: 2rem;
    width: 25rem;
    height: 30rem;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    border: 3px solid $smoky-black-transparent-color;
    box-shadow: 20px -20px 0 $light-carmine-pink-color;
    overflow: hidden;
    cursor: pointer;

    &:hover > .portfolio__overlay {
      background-color: $smoky-black-transparent-color;
      transform: translateY(0);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5rem 2rem;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $white-color;
    font-family: $font-family;
    background-color: rgba(19, 18, 0, 0);
    transform: translateY(100%);
    transition: all 0.4s;
  }

  &__pname {
    margin: 1rem 0;
    color: $light-carmine-pink-color;
    font-size: 2rem;
    font-weight: bold;
  }

  &__tech {
    margin: 1rem 0;
    font-size: 1.5rem;
    line-height: 3rem;
  }

  &__date {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 2rem 0;
    font-style: italic;
    transform: translateX(-50%);
  }

  &__tip {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;

    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  &__tip-img {
    width: 4rem;
    height: 4rem;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.05;
  }
  100% {
    opacity: 0.2;
  }
}

@media only screen and (max-width: 849px) {
  .portfolio-section {
    margin: 5rem 0;
    padding: 0;
  }

  .portfolio__item {
    width: 20rem;
    height: 20rem;
  }

  .portfolio__overlay {
    background-color: $smoky-black-transparent-color;
    transform: translateY(0);
    padding: 0;
  }

  .portfolio__pname {
    font-size: 1.7rem;
  }
}
