.tech-section {
  display: block;
  padding: 11rem 30% 11rem 0;
  width: 100%;
}

.tech-section-content {
  margin-left: 25%;
  margin-right: -25%;
  padding: 3rem 20%;
  background-color: $white-color;
  border: 3px solid rgba(19, 18, 0, 0.8);
}

.tech-section-title {
  color: $smoky-black-color;
}

.tech-section-items {
  margin: 5rem 0;
  font-family: $font-family;
  color: $smoky-black-color;
}

.tech-section-item {
  font-size: 1.5rem;
  margin: 1.6rem 0;
}

@media only screen and (max-width: 600px) {
  .tech-section {
    padding: 0;
  }

  .tech-section-title {
    font-size: 2rem;
  }

  .tech-section-content {
    margin: 0;
  }
}