.tech-section {
  display: block;
  padding: 11rem 30% 11rem 0;
  width: 100%;


  &__content {
    margin-left: 25%;
    margin-right: -25%;
    padding: 3rem 20%;
    background-color: $white-color;
    border: 3px solid rgba(19, 18, 0, 0.8);
  }

  &__title {
    color: $smoky-black-color;
  }

  &__items {
    margin: 5rem 0;
    font-family: $font-family;
    color: $smoky-black-color;
  }

  &__item {
    font-size: 1.5rem;
    margin: 1.6rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .tech-section {
    padding: 0;
  }

  .tech-section__title {
    font-size: 2rem;
  }

  .tech-section__content {
    margin: 0;
  }
}