.title {
  display: block;
  text-align: center;
  color: $smoky-black-color;
  font-size: 4rem;
  font-family: $font-family;
  font-weight: bold;

  &--white {
    color: $white-color;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 4rem;
  }
}
