@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$font-family: 'Merriweather', serif;
$white-color: #FFFFFF;
$smoky-black-color: #131200;
$smoky-black-transparent-color: rgba(19, 18, 0, 0.8);
$smoky-black-transparent-shadow-color: rgba(19, 18, 0, 0.15);
$rosy-brown-color: #b98d9d;
$raspberry-rose-color: #b6465f;
$light-carmine-pink-color: #dc6a73;
